@import "tailwindcss";

.header {
    background-color:#7B1FA2;
    padding: 1rem 2rem;
    border-radius: 50px;
    position: relative;
    z-index: 2;
    min-height: clamp(100px, 12vh, 160px);
}

.header-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0;
    margin-left: 10%;
}

.nav-menu a {
    display: flex;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-menu a:hover {
    color: #facc15;
    text-decoration: none;
    transform: translateY(-2px);
}

/* Botón hamburguesa */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 22px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 300;
    margin-left: auto;
}

.hamburger span {
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Animación botón hamburguesa cuando está activo */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive */
@media (max-width: 1360px) {

    .logo {
        height: 70px;
        width: auto;
        margin-left: 1px;
        z-index: 200;
    }

    .hamburger {
        display: flex;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        gap: 1rem;
        margin: 0;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #7B1FA2;
        padding: 1rem 3rem;
        border-radius: 0 0 0 0.75rem;
        z-index: 250;
    }

    .nav-menu.open {
        display: flex;
    }
}